/fengdaickjm/target/
/fengdaickjm/bin/
/fengdaickjm/.settings
/fengdaickjm/.classpath
/fengdaickjm/.project
/sourcecheckWeb/target/
/sourcecheckWeb/bin/
/sourcecheckWeb/.settings
/sourcecheckWeb/.classpath
/sourcecheckWeb/.project
/testbcel/target/
/testbcel/bin/
/testbcel/.settings
/testbcel/.classpath
/testbcel/.project
/commons-bcel/target/
/commons-bcel/bin/
/commons-bcel/.settings
/commons-bcel/.classpath
/commons-bcel/.project
.settings/